@import "cuadros.css";
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin:0px;
    padding:0px;

}
textarea {
    font-size:90%;
}


#outer {
}
#header {
    background:#eee;
    padding:0.2em 2em;
    border-bottom:1px solid #ccc;
}

#primarycontent {
    padding:0px 2em;
    clear:both;
}

#footer {
    border-top:1px solid #ccc;
    background:#eee;
    text-align:center;
}


#menu ul li {
    display:inline;
}

img
{
	cursor:pointer;
    border:0px;
}

table
{
    background-color:#ccc;
}
table.login
{
	background-color:#ffffff;
}
td
{
	font-family:verdana;
    background-color:white;
}
td.login
{
	background-color:#ffffff;
	font-family:verdana;
	
	color:#ffffff;
}

td.reporte_negro
{
	background-color:#000000;
}

th.reporte_a
{
	background-color:#777777;
	font-family:verdana;
	
	color:#ffffff;
}
th.reporte_at
{
	background-color:#dddddd;
	font-family:verdana;
	
	color:#000000;
}
th.reporte_b
{
	background-color:#777777;
	font-family:verdana;
	
	color:#ffffff;
}
th.reporte_da
{
	background-color:#aaaaaa;
	font-family:verdana;
	
	color:#000000;
}
th.reporte_dar
{
	background-color:#444444;
	font-family:verdana;
	
	color:#ffffff;
}
th.reporte_o
{
	background-color:#111111;
	font-family:verdana;
	
	color:#ffffff;
}
th.reporte_pe
{
	background-color:#444444;
	font-family:verdana;
	
	color:#ffffff;
}
th.reporte_t
{
	background-color:#aaaaaa;
	font-family:verdana;
	
	color:#000000;
}



.advertencia {
    background-image: url('/images/rechazado_otro_16x16.png');
    background-repeat:no-repeat;
    padding-left:30px;
    margin:0em 1em 1em 1em;
}

.aviso {
    background-image: url('/images/ejecucion.png');
    background-repeat:no-repeat;
    background-position: 1% 50%;
    padding:0.5em;
    border:1px solid red;
    padding-left:30px;
    margin:0em 1em 1em 1em;
    background-color: #FFFFAA;
    color:red;
    font-weight: bold;
}
