%body
  %head
    %title Sistema de evaluación comprehensivo de Exner
    %link{:href=>url("main.css") , :media => "screen", :rel=>'stylesheet', :type=>'text/css'}    
  %body
    #outer
      #inner
        #header
          %h1 Sistema de análisis
        #primarycontent
          =yield
        #footer
          %p Claudio Bustos 2011
